.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  border-radius: 1rem;
  width: 100%;
  padding: 15px;
}

.card .card-title {
  font-size: 22px;
  text-align: left;
  margin-bottom: 10px;
}

.card .card-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 1rem 0;
}

.card .card-block {
  width: 100%;
  transition: all 1s ease;
}

.card .card-block .card-links {
  margin-top: 5px;
  /* max-height: 200px; */
  overflow-y: hidden;
  transition: all 1s ease;
}

.card .card-block .card-links::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.card .card-block .card-links::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.card .card-block .card-links::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

.card .card-block .card-links::-webkit-scrollbar-corner {
  background: transparent;
}

.card .card-block .card-links .link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  margin: 4px 0;
  border-bottom: 1px solid lightgray;
}

.card .card-block .card-links .link-wrapper a.link {
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: grey;
}

.card .card-block .card-links .link-wrapper svg {
  margin: 0 5px;
}

.showMoreBTN {
  display: block;
  padding-top: 15px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .showMoreBTN {
    display: none;
  }

  .card .card-block .card-links {
    overflow-y: scroll;
  }
}

/* For landing in mobile */
@media only screen and (max-height: 400px) {
  .card .card-img {
    display: none;
  }
  .card .card-block .card-links {
    overflow-y: scroll;
  }
  .showMoreBTN {
    display: none;
  }
}
